PROJECT_NAME     = "Pure C++"
OUTPUT_DIRECTORY = build
GENERATE_LATEX   = NO
GENERATE_MAN     = NO
GENERATE_RTF     = NO
GENERATE_HTML    = YES
GENERATE_XML     = NO
INPUT            = \
                 ../include/pure
RECURSIVE        = YES
INCLUDE_PATH     = ../include/pure
QUIET            = YES
EXTRACT_ALL      = NO
EXTRACT_STATIC   = YES
SHOW_NAMESPACES  = YES
SHOW_FILES       = NO
SHOW_USED_FILES  = NO
WARN_IF_UNDOCUMENTED = NO

HIDE_UNDOC_MEMBERS = YES
HIDE_UNDOC_CLASSES = YES
MAX_INITIALIZER_LINES = 0


ENABLE_PREPROCESSING = YES
MARKDOWN_SUPPORT = YES
